/* CSS declarations go here */
body { 
  background: url("woodland-656969_1280.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
	font-family: 'medium';
	src: url('Adobe - AvenirLTStd-Medium.otf');
}

@font-face {
	font-family: 'roman';
	src: url('Adobe - AvenirLTStd-Roman.otf');
}

@font-face {
	font-family: 'bold';
	src: url('Adobe - AvenirLTStd-Bold.otf');
}

* {
	font-family: 'roman';
}

p {
	font-family: 'roman';
	font-size: 17px;
	color: black;
}

h1 {
	font-family: 'medium';
	color: black;
}

.navbar {
	background-color: #F15C3B;
	opacity: 0.8;
}
.navbar-default {
	border: none;
}
.navbar-brand img{
	height: 25px;
}

.nav li a {
	color: #fff !important;
	text-transform: uppercase;
}
.nav li a:hover {
	color: #eee;
}

.signupForm input {
	border-radius: 0;
	border: none;
}

#signup {
	color: white;
	background-color: #F15C3B;
	border-radius: 0px;
	border: none;
}

#inspirational {
	background-color: #F3F3F4;
}

.centering {
	margin: 0 auto;
}

.label-default {
	font-size: 16px;
	background-color: #F15C3B;
	color: #fff;
	font-family: 'medium';
}

.grid-item {
	float: left;
	width: 20%;
	background-color: #FDEEEC;
	padding: 10px;
	margin: 5px;
}

.grid-item h1 {
	font-family: 'medium';
	font-size: 26px;
	color: #F15C3B;
}

.grid-item p {
	font-family: 'roman';
	font-size: 13px;
	color: black;
}

.grid-item button {
	color: white;
	background-color: #F15C3B;
	border-radius: 0px;
}

.centered {
  position: absolute;
  left: 34%;
  margin-left: -100px;
  top: 20%;
}

.centered2 {
  position: absolute;
  left: -10%;
  margin-left: -150px;
  top: 80%;
  opacity: 0.8;
}

#homepage {
  position: absolute;
  margin-top:150px;
  margin-left: 30px;
  text-align: center;

}

h2 {
	font-family: "medium", Times, serif;
	font-size:17px;
}

h3 {
	font-size:28px;
	font-family: 'medium';
	color: white;
	src: url('Adobe - AvenirLTStd-Medium.otf');

}

history {
	color:#f15c3b;
	
}

.grocery {
	font-size:28px;
	font-family: 'roman';
	src: url('Adobe - AvenirLTStd-Roman.otf');
}
	
.timeline {  
   text-align:center;
   padding: 2px 4px 3px 400px;
}

#groceryitem {
	margin-left: 100px;
	margin-right: 29px;
	width:500px;

}

input{
   text-align:center;
}

.resourcesall {
	padding-left: 10%;
	padding-right: 10%;
}