/* CSS declarations go here */
body { 
  background: url("woodland-656969_1280.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
	font-family: 'medium';
	src: url('Adobe - AvenirLTStd-Medium.otf');
}

@font-face {
	font-family: 'roman';
	src: url('Adobe - AvenirLTStd-Roman.otf');
}

@font-face {
	font-family: 'bold';
	src: url('Adobe - AvenirLTStd-Bold.otf');
}

* {
	font-family: 'roman';
}

p {
	font-family: 'roman';
	font-size: 17px;
	color: black;
}

h1 {
	font-family: 'medium';
	color: black;
}

#signup {
	background: url("asset_signupbutton.png");
}

.centering {
	margin: 0 auto;
}

.grid-item {
	float: left;
	width: 20%;
	border: 2px solid #b6b5b4;
}


.centered {
  position: absolute;
  left: 34%;
  margin-left: -100px;
  top: 20%;
}

h2 {
	font-size:14px;
	font-family: 'medium';
	src: url('Adobe - AvenirLTStd-Medium.otf');

}

h3 {
	font-size:28px;
	font-family: 'medium';
	color: white;
	src: url('Adobe - AvenirLTStd-Medium.otf');

}

history {
	color:#f15c3b;
	
}

.grocery {
	font-size:28px;
	font-family: 'roman';
	src: url('Adobe - AvenirLTStd-Roman.otf');
}
	
.timeline {  
   text-align:center;
   padding: 2px 4px 3px 400px;
}

#groceryitem {
	margin-left: 100px;
	margin-right: 29px;
	width:500px;

}

input{
   text-align:center;
}
